@import "tailwindcss";

@theme {
  --color-bg: black;
  --color-text: white;
  --color-accent-100: oklch(91.7% 0.08 205.041);
  --color-accent-200: oklch(70.7% 0.165 254.624);
  --color-accent-300: oklch(82.8% 0.189 84.429);
}

html {
  background: var(--color-bg);
}
